.Questions-container {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    border: 2px solid black;
    width: 60%;
}

.Options-container {
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  width: 100%;
  display: inline-block;
}

.container {
  display: flex;
}

